.cardContainer{
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr))
}

.btn {
    display: flex;
    /* justify-content: space-between; */
    margin-top: 10px;
  }
  

  .btn button {
    background-color: #ff6600;  
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.2s ease;
  }
  

  .btn button:hover {
    background-color: #e65c00; 
    transform: scale(1.05);
  }
  

  .btn button:active {
    background-color: #cc5200;
    transform: scale(0.95);
  }
  

